<!DOCTYPE html>
<html>
<head>
    <title>Suntour</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="fonts/fi/flaticon.css">
    <link rel="stylesheet" href="css/flexslider.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/indent.css">
    <link rel="stylesheet" href="rs-plugin/css/settings.css">
    <link rel="stylesheet" href="rs-plugin/css/layers.css">
    <link rel="stylesheet" href="rs-plugin/css/navigation.css">
    <link rel="stylesheet" href="tuner/css/colorpicker.css">
    <link rel="stylesheet" href="tuner/css/styles.css">
</head>
<body>
<!-- header page-->
<header>
    <!-- Navigation panel-->
    <nav class="main-nav transparent stick-fixed">
        <div class="full-wrapper relative clearfix container">
            <!-- Logo ( * your text or image into link tag *)-->
            <div class="nav-logo-wrap local-scroll">
                <a href="/" class="logo">
                    <span style="font-size: 30px; font-weight: bold; line-height: 44px;">CROWD TOUR</span>
                </a>
            </div>
            <!-- Main Menu-->
            <div class="inner-nav desktop-nav">
                <ul class="clearlist">
                    <!-- Item With Sub-->
                    <li><a href="/" class="mn-has-sub active">Home</a></li>
                    <!-- End Item With Sub-->
                    <li class="slash">/</li>
                    <!-- Item With Sub-->
                    <li><a href="/" class="mn-has-sub">Activities <i class="fa fa-angle-down button_open"></i></a>
                        <!-- Sub-->
                        <ul class="mn-sub">
                            <li><a href="fanmeeting">이광수 팬미팅</a></li>
                            <li><a href="carribean">캐리비안 베이</a></li>
                            <li><a href="dramaset">드라마 촬영 현장</a></li>
                            <li><a href="hanriver">한강 야경 치맥</a></li>
                        </ul>
                        <!-- End Sub-->
                    </li>
                    <!-- End Item With Sub-->
                    <li class="slash">/</li>
                    <!-- Item With Sub-->
                    <!-- Item With Sub-->
                    <li><a href="" class="mn-has-sub"> Restaurants <i class="fa fa-angle-down button_open"></i></a>
                        <!-- Sub-->
                        <ul class="mn-sub">
                            <li><a href="restaurant1">정식당</a></li>
                            <li><a href="restaurant2">월향</a></li>
                            <li><a href="restaurant3">필경재</a></li>
                        </ul>
                        <!-- End Sub-->
                    </li>
                    <!-- End Item With Sub-->
                    <li class="slash">/</li>
                    <!-- Item-->
                    <li><a href="" class="mn-has-sub"> AMENITIES <i class="fa fa-angle-down button_open"></i></a>
                        <!-- Sub-->
                        <ul class="mn-sub">
                            <li><a href="hotel">신라호텔</a></li>
                            <li><a href="makeup">에스쁘아 플래그쉽</a></li>
                            <li><a href="entertainment">연예계 투어 </a></li>
                            <li><a href="nailart">네일아트</a></li>
                            <li><a href="skincare">피부관리</a></li>
                        </ul>
                        <!-- End Sub-->
                    </li>
                    <!-- End Search-->
                    <li><a href="/apply" class="mn-has-sub active">신청하기</a></li>
                </ul>
            </div>
            <!-- End Main Menu-->
        </div>
    </nav>
    <!-- End Navigation panel-->
</header>
<!-- ! header page-->
<!-- section 404-->
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="img-404"><img src="pic/404.png" alt></div>
                <h2 class="mt-40 mb-50 align-center">Ooops ... We are sorry, the page you want isn’t here anymore.</h2>
                <div class="row">
                    <div class="col-md-6 mb-md-30">
                        <p>Fusce pharetra convallis urna. Quisque ut nisi. Donec mi odio, fauci bus at, scelerisque quis, convallis in, nisi disi. Suspendisse non nisl sit amet velit.</p>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-15">Perhaps searching can help or go back to <a href="index.html" class="back-home">Homepage</a></p>
                        <div class="widget-search">
                            <form role="search" method="get" action="#" class="search-form">
                                <label><span class="screen-reader-text">Search ...</span>
                                    <input type="search" placeholder="Search ..." value="" name="s" title="Search:" class="search-field">
                                </label>
                                <button type="submit" class="search-submit"><i class="flaticon-interface"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ! section 404-->
<!-- footer-->
<footer style="background-image: url('/img/bg-1.jpg')" class="footer footer-fixed">
    <div class="container">
        <div class="row pb-100 pb-md-40">
            <!-- widget footer-->
            <div class="col-md-6 col-sm-12 mb-sm-30">
                <div class="logo-soc clearfix">
                    <div class="footer-logo"><a href="/"><span style="font-size: 30px; font-weight: bold; line-height: 44px; color: black;">CROWD TOUR</span>
                            <!--<img src="img/logo-white.png" data-at2x="img/logo-white@2x.png" alt>-->
                        </a></div>
                </div>
                <p class="color-g2 mt-10">
                    크라우드 투어는 한국 여행사로 고객을 위한 특별한 여행상품을 준비하여 판매합니다
                </p>
                <!-- social-->
                <div class="social-link dark"><a href="#" class="cws-social fa fa-twitter"></a><a href="#" class="cws-social fa fa-facebook"></a><a href="#" class="cws-social fa fa-google-plus"></a><a href="#" class="cws-social fa fa-linkedin"></a></div>
                <!-- ! social-->
            </div>
            <!-- ! widget footer-->
            <!-- widget footer-->
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="widget-footer">
                    <h4>Latest Tweets</h4>
                    <div class="twitter-footer align-left"></div>
                </div>
            </div>
            <!-- end widget footer-->
            <!-- widget footer-->
            <div class="col-md-3 col-sm-6">
                <div class="widget-footer">
                    <h4>Tag cloud</h4>
                    <div class="widget-tags-wrap"><a href="#" rel="tag" class="tag">Adventure</a><a href="#" rel="tag" class="tag">Romantic</a><a href="#" rel="tag" class="tag">Wildlife</a><a href="#" rel="tag" class="tag">Beach</a><a href="#" rel="tag" class="tag">Honeymoon</a><a href="#" rel="tag" class="tag">Island</a><a href="#" rel="tag" class="tag">Parks</a><a href="#" rel="tag" class="tag">Family</a><a href="#" rel="tag" class="tag">Travel</a></div>
                </div>
            </div>
            <!-- end widget footer-->
        </div>
    </div>
    <!-- copyright-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>© Copyright 2017 <span>CROWD TOUR</span> &nbsp;&nbsp;|&nbsp;&nbsp; All Rights Reserved</p>
                </div>
                <div class="col-sm-6 text-right"><a href="index.html" class="footer-nav">Home</a><a href="page-about-us.html" class="footer-nav">Pages</a><a href="hotels-search.html" class="footer-nav">Hotels</a><a href="blog-grid.html" class="footer-nav">Blog</a><a href="shop-grid.html" class="footer-nav">Shop</a><a href="page-contact.html" class="footer-nav">Contacts</a></div>
            </div>
        </div>
    </div>
    <!-- end copyright-->
    <!-- scroll top-->
</footer>
<div id="scroll-top"><i class="fa fa-angle-up"></i></div>
<!-- ! footer-->
<!-- login popup-->
<div class="login-popup">
    <div class="login-popup-wrap">
        <div class="title-wrap">
            <h2>Login</h2><i class="close-button flaticon-close"></i>
        </div>
        <div class="login-content">
            <form class="form">
                <input type="text" name="email" value="" size="40" placeholder="Enter Your Email ..." aria-required="true" class="form-row form-row-first">
                <input type="text" name="password" value="" size="40" placeholder="Enter Your Password ..." aria-required="true" class="form-row form-row-last">
            </form>
            <div class="remember">
                <div class="checkbox">
                    <input id="checkbox30" type="checkbox" value="None" name="check">
                    <label for="checkbox30">Remember Me</label>
                </div><a href="#">Forgot Password ?</a>
            </div><a href="#" class="cws-button gray alt full-width mt-20">Login now</a>
        </div>
        <div class="login-bot">
            <p>No account yet? <a href="#">Register now</a></p>
        </div>
    </div>
</div>
<!-- ! login popup-->
<!-- news popup-->
<div class="news-popup">
    <div class="news-popup-wrap"> <i class="close-button flaticon-close"></i>
        <div class="row">
            <div class="col-sm-6"><img src="pic/news-popup.jpg" data-at2x="pic/news-popup@2x.jpg" alt></div>
            <div class="col-sm-6">
                <div class="news-content">
                    <div class="news-title">
                        <h2>Newsletter</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    </div>
                    <form method="get" action="#" class="newsletter contact-form">
                        <label class="mb-0">
                            <input type="text" placeholder="Enter Your Email ..." value="" name="email" class="newsletter-field mb-0">
                        </label>
                        <button type="submit" class="newsletter-submit cws-button alt">Submit</button>
                    </form>
                    <div class="checkbox-wrap">
                        <div class="checkbox">
                            <input id="checkbox40" type="checkbox" value="None" name="check">
                            <label for="checkbox40">Dont Show This Message Again</label>
                        </div>
                    </div>
                    <div class="social-wrap"><a href="#" class="cws-social flaticon-social-4"></a><a href="#" class="cws-social flaticon-social"></a><a href="#" class="cws-social flaticon-social-3"></a><a href="#" class="cws-social flaticon-social-1"></a><a href="#" class="cws-social flaticon-social-network"></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ! news popup-->
<script src="https://www.youtube.com/player_api"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script type="text/javascript" src="js/TweenMax.min.js"></script>
<script type="text/javascript" src="js/cws_parallax.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="js/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/jquery.form.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/bg-video/cws_self_vimeo_bg.js"></script>
<script type="text/javascript" src="js/bg-video/jquery.vimeo.api.min.js"></script>
<script type="text/javascript" src="js/bg-video/cws_YT_bg.js"></script>
<script type="text/javascript" src="js/jquery.tweet.js"></script>
<script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="js/jquery.flexslider.js"></script>
<script type="text/javascript" src="tuner/js/colorpicker.js"></script>
<script type="text/javascript" src="tuner/js/scripts.js"></script>
<script type="text/javascript" src="js/retina.min.js"></script>
</body>
</html>